<h1>youpi new bookmark</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.input :movie_id, collection: Movie.all.map { |m| [m.title, m.id] }%>
  <%= f.submit %>
<% end %>
